@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";




:root{
  /* primary colors */
  --color-primary-500: #4A90E2;
  --color-primary-600: #357ABD;
  --color-primary-700: #2C5AA0;
  --color-primary-800: #1E3A73;
  --color-primary-900: #0F1A3D;


  /* secondary colors */
  --color-secondary-500: #4A90E2;

  /* status colors */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --color-info: #3b82f6;
  
  --color-text-title: ##1A1A1A;
  --color-text-button: #FFFFFF;
  --color-text-body: #8A8A8A;
  --color-text-input: #B3B3B3;
  
  --color-background: #050505;
  --color-border: #E5E7EB;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-light: #F3F4F6;
  --color-gray-dark: #374151;
  --color-shadow: rgba(0, 0, 0, 0.1);

  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;

}